*{
    margin:0;
    box-sizing: border-box;
}
body {
    background: black;
    font-family: 'Roboto', sans-serif;
}
.post {
    background-color: white;
    max-width: 480px;
    margin: 50px auto;
    border-top-left-radius: 1%;
    border-top-right-radius: 1%;
    border-bottom-left-radius: 1%;
    border-bottom-right-radius: 1%;
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.header-left{
    display: flex;
}
.header-right{
    margin-right: 8px;
    font-size: 24px;
}
.iconohtml5 {
    font-size: 40px;
    margin-right: 8px;
}
.image img{
    width: 100%;
}
.content {
    padding: 8px;
    
}
.actions {
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
}
.action-left {
    letter-spacing: 3px;
}
.action-right {
    margin-right: 8px;
}
.reactions {
    margin-top: 8px;
}
.description {
    margin: 8px 0px;
    text-align: justify;
}